<h4>List of uploaded songs</h4>

<table style="width:100%" border="1">
  <tr>
    <th>Flag</th>
    <th>Title</th> 
    <th>Country</th>
    <th>Listen slots</th>
    <th>Checked out</th>
  </tr>
  {{#each songs}}
  <tr>
      <th><img src='images/{{ this.countryCode }}.png'></th>
      <th>{{ this.title }}</th>
      <th>{{ this.country }}</th>
      <th>{{ this.listen_slots }}</th>
      <th>{{ this.checked_out }}</th>
  </tr>
  {{/each}}
</table>

<form method="GET" action="/">
    <button type="submit">Back to index</button>
</form>
